body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    text-align: center;
}

#countdown {
    font-size: 48px;
    color: #fff; /* Muda a cor do texto para branco para melhor visibilidade */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra ao texto para contraste */
}
